{
	"extends": [
		"/Users/davidfox-powell/Downloads/code-challenge-frontend-api-master/node_modules/boiler-config-eslint/dist/rules/index.js",
		"/Users/davidfox-powell/Downloads/code-challenge-frontend-api-master/node_modules/boiler-config-eslint/dist/rules/react-rules.js"
	],
	"rules": {
		"no-debugger": 1,
		"no-unused-vars": [
			"warn",
			{
				"vars": "all",
				"args": "none"
			}
		],
		"semi": [
			"warn",
			"always"
		],
		"comma-dangle": [
			"warn",
			"never"
		],
		"import/no-unresolved": 0,
		"import/extensions": 0
	}
}